
.navbar{
	position:fixed;
	top: 0;
	z-index:1;
	height:50px;
	text-align:center;
	vertical-align:middle;
	line-height:50px;
	top:0px;
	left: 0;
	right: 0;
	margin:auto;

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar ul li{
	margin: 0;
	padding: 0;
	list-style: none;
	display:inline-block;
}
.navbar ul li a {
	display:inline-block;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	text-align: center;
	font-size:30px;
}
body{
	padding-top: 65px; 
	background-color:#f5f5f5;
	color:#221f20;
	font-family:Georgia,"Times New Roman",Times,serif;
	text-transform:uppercase;
	font-size:18px;
}
#home{
  margin: auto;
  width: auto;
}
#about{
  margin: auto;
  width: auto;
  padding: 40px;

}
p{
	text-transform:none;
}
#experience{
  margin: auto;
  width: auto;
  padding: 40px;
  text-align:center;
  border: 80px white solid;
  margin-bottom:20px;
}
#experience li{
	text-align:left;
}
#title{
	text-align: center;
	width: 50%;
  	word-spacing: 9999rem;
  	word-spacing: unset;
}
#title img{
	min-width:250px;
	max-width:66%;
	height:auto;
	margin:auto;
}
#profile-pic{
	display: -webkit-box;
	display: -ms-flexbox;
	vertical-align:center;
	border: 10px white solid;
	background-color:white;

}
#profile-pic img{
	min-width:250px;
	max-width:250px;
	height:auto;
	margin:auto;
}
#contact{
	margin: auto;
  	padding: 40px;
  	text-align: center;
	width: 100%;

}
hr{
	width:77%;
	margin:25px;
}
a{
	color:#221f20;
}
a:hover{
	color:#6cc2e0;
	text-decoration:none;
}
#about a{
	color:#6cc2e0;
}
#about a:hover{
	color:#48a3e0;
}
.row{
	width:100%;
}
#linkedin:hover{
	color:#0072b1;
}
#instagram:hover{
	color:#e95950;
}
#email:hover{
	color:firebrick;
}
#github:hover{
	color:darkorange;
}
li{
	text-transform:none;
}
#contact a{
	color:#6cc2e0;
	text-transform:none;
}
#contact a:hover{
	color:#48a3e0;
	text-transform:none;
}
h3{
	text-decoration: underline;
	-webkit-text-decoration-color:#6cc2e0;
	        text-decoration-color:#6cc2e0;
}

#copyright{
	margin: auto;
  	padding: 40px;
  	margin-left:10px;
	width: 100%;
	text-transform:none;
}
@media screen and (max-width: 600px) {
#title img{
	max-width:180px !important;
	min-width:50px;
}

#profile-pic img{
	max-width:180px !important;
	min-width:50px;

 }
}
